@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: bold;
    border: 0;
    background: #1d61dd;
    color: white;
}

header {
    background: no-repeat center/cover url("assets/Chile.jpg");
    height: calc(100vh - 100px);
}

header nav {
    display:inline;
    justify-content: space-between;
    margin: auto 90px;
}

header nav ul {
    display: flex;
}

header nav ul li {
    margin: 0 15px;
}

header nav p {
    font-weight: bold;
}

.header-content {
    max-width: 500px;
    margin: 200px auto;
    font-size: 1.5rem;
    color: white;
    text-align: center;
}

.header-content h1 {
    margin-bottom: 10px;
    font-size: 3rem;
}

.info .info-title {
    width: 100%;
    text-align: center;
    margin:25px 0;
    font-size: 3rem;
}

.info {
    background: white;
    padding: 15px;
}

.info .info-card {
    display: flex;
    margin: auto;
    color: black;
    max-width: 950px;
    flex-wrap: wrap;
    justify-content: center;
}

.info .card-image {
    width: 250px;
    height: 200px;
    border-radius: 24px 0 0 0;
}

.info .card {
    width: 250x;
    height: 350px;
    background: rgb(255, 216, 171);
    border-radius: 24px 0;
    margin: 30px;
    position: relative;
}

.info .card-content {
    padding: 0 15px;
}

.info .card-content ul {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.info .card-content ul li {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    margin: 3px 0;
    color: black;
    font-weight: bold;
}

.info .card-content li svg {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.info .card-content h1 {
    font-size: 1rem;
}

.info .card .card-tag-bottom {
    position: absolute;
    left: 0;
    top: 165px;
    background: rgb(0, 0, 0);
    border-bottom-right-radius: 8px 8px;
    border-top-right-radius: 8px 8px;
    padding: 5px 10px;
}

.info .card .card-tag p {
    margin:0;
    font-size: 0.8rem;
    color: white;
    font-weight: bold;
}

.saiba{
    padding: 15px;
}

.saiba .saiba-title{
    text-align: center;
    margin: 35px 0;
}

.saiba .saiba-cards{
    margin-top: 25px;
    display: flex;
    max-width: 950px;
    justify-content: center;
    margin: auto;
}

.saiba .card{
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

.saiba .card svg {
    width: 60px;
    height: 60px;
    margin: 50px;
}

.saiba .card svg:hover {
    stroke: blue;
    transform: scale(1.1);
}

.saiba .card.h3 {
    font-weight: bold;
}

.saiba .card p {
    color: rgb(80, 80, 80);
    font-size: .8rem;
    text-align: center;
}

.saiba .card .card-content {
    height: 180px;
    text-align: center;
}

.sobre{
    padding: 15px;
}

.sobre .sobre-title{
    text-align: center;
    margin: 35px 0;
}

.contatos {
    margin-left: -15px;
    padding: 10px;
    height: 300px;
    width:2000px;
    background: rgb(255, 240, 223);
}

.contatos .contatos-title{
    text-align: left;
    margin: 35px 0;
    padding-left: 30px;
}

.contatos{
    text-align: center;
    margin-top: 35px;
}

.contatos .contatos-cards{
    display: flex;
    max-width: 1200px;
    justify-content: center;
}

.mail {
    width: 400px;
    height: 45px;
    background: rgb(255, 216, 171);
    border-radius: 12px;
    border-end-end-radius: 12px;
    margin: 25px;
    text-align:center;
    padding-top: 20px;
}

.mail svg {
    color: black;
    height: 15px;
}

.facebook {
    width: 410px;
    height: 45px;
    background: rgb(255, 216, 171);
    border-radius: 12px;
    border-end-end-radius: 12px;
    margin: 25px;
    text-align:center;
    padding-top: 20px;
}

.facebook svg {
    color: black;
    height: 15px;
}

.instagram {
    width: 240px;
    height: 45px;
    background: rgb(255, 216, 171);
    border-radius: 12px;
    border-end-end-radius: 12px;
    margin: 25px;
    text-align:center;
    padding-top: 20px;
}

.instagram svg {
    color: black;
    height: 15px;
}

.smartphone {
    width: 260px;
    height: 45px;
    background: rgb(255, 216, 171);
    border-radius: 12px;
    border-end-end-radius: 12px;
    margin: 25px;
    text-align:center;
    padding-top: 20px;
}

.smartphone svg {
    color: black;
    height: 15px
}

.linkedin {
    width: 260px;
    height: 45px;
    background: rgb(255, 216, 171);
    border-radius: 12px;
    border-end-end-radius: 12px;
    margin: 25px;
    text-align:center;
    padding-top: 20px;
}

.linkedin svg {
    color: black;
    height: 15px
}

html, body {
    overflow-x: hidden;
}